version: '3.8'

services:
  # Service 1: Backend
  backend:
    build: ./backend
    container_name: quanlynhatro_backend
    restart: always
    environment:
      - PORT=5000
      # Thay bằng chuỗi kết nối MongoDB Atlas thật của bạn
      - MONGO_URI=mongodb+srv://lenhan16587:Lenh%40n16587@quanlynhatro.6mzuf3t.mongodb.net/quanlynhatro?retryWrites=true&w=majority&appName=quanlynhatro
      - JWT_SECRET=c8d4e2f1a3b5c7d9e0f2a4b6c8d0e2f4a6b8c0d2e4f6a8b0c2d4e6f8a0b2c4d6e8f0a2b4c6d8e0f2
    networks:
      - app-network

  # Service 2: Frontend (Chứa Nginx)
  frontend:
    build: ./fontend
    container_name: quanlynhatro_frontend
    restart: always
    ports:
      - "89:89" # Mở cổng 89 ra ngoài internet
    depends_on:
      - backend # Chờ backend chạy trước
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
